<div class="menu-container flex flex-col items-center justify-center bg-gray-800 p-8 h-screen">
    <!-- App Logo -->
    <div class="logo-container mb-4">
        <img src="assets/logo.png" alt="App Logo" class="h-16 w-auto">
    </div>

    <!-- Menu List -->
    <ul class="menu-list text-lg flex flex-col items-center justify-center h-5/6 w-full">
        <li
            class="menu-item-container mb-8 hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">
            Home
        </li>
        <li
            class="menu-item-container mb-8 hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">
            Search
        </li>
        <li
            class="menu-item-container mb-8 hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">
            <a routerLink="/addPost" class="block w-full">Add Post</a>
        </li>
        <li
            class="menu-item-container mb-8 hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">
            Notifications
        </li>
        <li routerLink="/network"
            class="menu-item-container mb-8 hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">
            Network
        </li>
        <li routerLink="/chat"
            class="menu-item-container mb-8 hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">
            Messages
        </li>
        <li
            class="menu-item-container hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">
            Profile
        </li>
    </ul>
</div>